

.maisVendido{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    table{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        header{
            display: flex;
            width: 100%;
        }
        tr{
            display: flex;
            flex-direction: row;
            width: 100%;
            cursor: pointer;
        }
        .lista{
            height: 65px;
        }
        th{
            width: 23%;
            display: flex;
            align-items: center;
            justify-content: center;
 
        }
        tbody{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        thead{
            padding: 10px;
            display: flex;
            width: 100%;
            background-color: #1f1e1f;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        td{
            width: 23%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        .excluir{
            width: 10%;
            cursor: pointer;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #1d1d1d;
        }

        th {
            background-color: #1f1e1f;
        }

        tr:nth-child(even) {
            background-color: #1f1e1e; 
        }

        tr:nth-child(odd) {
            background-color: #202020; 
        }

        tr:hover {
            background-color: #141414; 
        }
    }
    .organizar{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
}