.pg-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  background-color: #161515;
  font-family: "medio";

  .ajuste-org {
    display: flex;
    flex-direction: row;
    position: fixed;
    max-width: 100%;
    justify-content: space-around;
    color: #fff;
  }

  .txt-inico {
    width: 50%;
    padding: 2rem;
    animation: animate_4010;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 15px #404041;
    height: auto;
    width: 20%;
  }

  #heading {
    text-align: center;
    margin: 2em;
    color: #fff;
    font-size: 1.2em;
    font-family: "Roboto-bold";
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }

  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: #48014e;
  }

  .input-field {
    background: none;
    border: none;
    width: 100%;
    color: #d3d3d3;
  }

  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }

  .button1,
  .button2 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    cursor: pointer;
  }

  .button1 {
    padding-left: 1.1em;
    padding-right: 1.1em;
    margin-right: 0.5em;
  }

  .button2 {
    padding-left: 2.3em;
    padding-right: 2.3em;
  }

  .button1:hover,
  .button2:hover {
    background-color: #48014e;
  }
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.container {
  width: 10%;
  height: 80%;
}

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}

@media (max-width: 575px) {
  
  .pg-login{
    display: flex;
    justify-content: flex-start;
    max-width: 100vw;
    .txt-inico {
      h1 {
        font-size: 1.2rem;
      }
      h4 {
        font-size: 0.8rem;
      }
      .pg-login .txt-inico h1 {
        font-size: 1.2rem;
        white-space: pre-line; /* Adiciona quebra de linha para dispositivos móveis */
      }
      .pg-login .txt-inico h4 {
        font-size: 0.8rem;
        white-space: pre-line; /* Adiciona quebra de linha para dispositivos móveis */
      }
    } 
    .ajuste-org{
      display: flex;
      flex-direction: column ;
      align-items: center;
      justify-content: flex-start;
    }
    .form{
      width: 50%;
      white-space: nowrap;
    }
    .txt-inico{
      width: 80%;
    }
  }

  .button1,
  .button2 {
    padding: 0.4em;
    margin-right: 0.3em;
  }

  .button1 {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }

  .button2 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
@media (max-width: 576px) {
  .pg-login .txt-inico h1 {
    font-size: 1.2rem;
    white-space: pre-line; /* Adiciona quebra de linha para dispositivos móveis */
  }
  
  .pg-login .txt-inico h4 {
    font-size: 0.8rem;
    white-space: pre-line; /* Adiciona quebra de linha para dispositivos móveis */
  }
}

