.confirmar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .caixa {
        background: #161515;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    .btns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    button{
        background-color: #48014e;
        border: none;
        color:  #ffff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}